<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

</head>
<body>
<form method="POST" class="post-form" action="/request">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Enter Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-4">
      {{ form.name }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Address:</label>
    <div class="col-sm-4">
      {{ form.address }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Country:</label>
    <div class="col-sm-4">
      {{ form.country }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">State:</label>
    <div class="col-sm-4">
      {{ form.state }}
    </div>
  </div>
        <div class="form-group row">
    <label class="col-sm-2 col-form-label">City:</label>
    <div class="col-sm-4">
      {{ form.city }}
    </div>
        </div>
            <div class="form-group row">
    <label class="col-sm-2 col-form-label">Mobile:</label>
    <div class="col-sm-4">
      {{ form.mobile }}
    </div>
                <div class="form-group row">
    <label class="col-sm-2 col-form-label">Aadhar:</label>
    <div class="col-sm-4">
      {{ form.aadhar }}
    </div>
  </div>
  </div>
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>